* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: rgb(77, 41, 155); /* Change background color to light gray */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(73, 25, 136); /* Change background color of conversation area to dark */
  color: #fff; /* Set font color to white */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
